<h2 class="text-center">New room</h2>

<p>
    Copy link to the room and share with others. You can type your own room
    name!
</p>

<div class="d-flex align-items-center justify-content-center mb-3">
    <p class="text-center">
        <span>{{ baseDomain }}</span>
        <input
            type="text"
            class="room-id-input"
            [formControl]="roomIdControl"
        />
    </p>
    <button class="text-icon-button" (click)="copyRoomLink()">
        <mat-icon>content_copy</mat-icon>
        <span>Copy link</span>
    </button>
</div>

<div class="text-right">
    <button mat-flat-button (click)="closePopup()">Cancel</button>
    <button mat-flat-button color="accent" (click)="createNewRoom()">
        Create room!
    </button>
</div>
