<h2 class="text-center">Join room</h2>

<p>Rooms allow you to share files with users who have the link to the room</p>

<div class="d-flex align-items-center justify-content-center mb-3">
    <p class="text-center">
        <span>{{ baseDomain }}</span>
        <input
            type="text"
            class="room-id-input"
            [formControl]="roomIdControl"
        />
    </p>
    <button class="text-icon-button" (click)="copyRoomLink()">
        <mat-icon>content_copy</mat-icon>
        <span>Copy link</span>
    </button>
</div>

<div class="text-right">
    <button mat-flat-button class="mr-2" (click)="closePopup()">Cancel</button>
    <button mat-flat-button color="accent" (click)="createNewRoom()">
        Join room
    </button>
</div>
