.file-transfer-offer {
    width: 250px;
    position: absolute;
    bottom: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0 0 8px;
    padding: 15px;
    background-color: var(--bg-color);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 -6px -6px;
        content: "";
        width: 12px;
        height: 12px;
        background: inherit;
        transform: rotate(45deg);
        border: 1px solid transparent;
        border-right-color: rgba(black, .2);
        border-bottom-color: rgba(black, .2);
    }
}