
<div *ngIf="stateInfo" class="file-transfer-offer">
    <p>{{ stateInfo.text }}</p>

    <div class="buttons-container">
        <button
            *ngIf="stateInfo.cancelButtonLabel"
            mat-stroked-button class="mr-2"
            (click)="onCancel.emit()"
        >
            {{ stateInfo.cancelButtonLabel }}
        </button>
        <button
            *ngIf="stateInfo.confirmButtonLabel"
            mat-flat-button class="mr-2"
            (click)="onConfirm.emit()"
        >
            {{ stateInfo.confirmButtonLabel }}
        </button>
    </div>
</div>



