
<div class="file-transfer-offer">
    <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchCase="type.ZIPPING" [ngTemplateOutlet]="zipping"></ng-container>
        <ng-container *ngSwitchCase="type.OFFER" [ngTemplateOutlet]="offer"></ng-container>
        <ng-container *ngSwitchCase="type.WAITING_FOR_APPROVE" [ngTemplateOutlet]="waitingForApprove"></ng-container>
        <ng-container *ngSwitchCase="type.DECLINED" [ngTemplateOutlet]="declined"></ng-container>
        <ng-container *ngSwitchCase="type.IN_PROGRESS" [ngTemplateOutlet]="inProgress"></ng-container>
        <ng-container *ngSwitchCase="type.CONFIRM_CANCEL" [ngTemplateOutlet]="cancelConfirmation"></ng-container>
        <ng-container *ngSwitchCase="type.ERROR" [ngTemplateOutlet]="error"></ng-container>
    </ng-container>
</div>


<ng-template #zipping>
    <h2>File zipping</h2>
    <p>Zipping files... It saves some time for data transfer so it worth of waiting.</p>
    <button mat-stroked-button (click)="onCancel.emit()">Cancel</button>
</ng-template>


<ng-template #offer>
    <h2>File transfer offer</h2>
    <p>Do you want to accept file <br> <b>{{fileInfo.name | wrapFileName}}</b>?</p>
    <button mat-stroked-button class="mr-2" (click)="onCancel.emit()">Decline</button>
    <button mat-flat-button (click)="onAgree.emit()">Accept</button>
</ng-template>


<ng-template #waitingForApprove>
    <h2>Waiting for approval</h2>
    <p>Waiting user to accept file...</p>
    <button mat-flat-button (click)="onCancel.emit()">Cancel</button>
</ng-template>


<ng-template #declined>
    <h2>File transfer declined</h2>
    <p>User refused from your file</p>
    <button mat-flat-button (click)="onAgree.emit()">Ok</button>
</ng-template>


<ng-template #inProgress>
    <h2>Transferring file</h2>
    <p>It shouldn't take too long, but it's ok to have a cup of tea.</p>
    <div>
        <button mat-flat-button (click)="onCancel.emit()">Cancel</button>
    </div>
</ng-template>


<ng-template #cancelConfirmation>
    <h2>Are you sure?</h2>
    <p>Are you sure you want to cancel file transfer?</p>
    <button mat-stroked-button class="mr-2" (click)="onAgree.emit()">Yes</button>
    <button mat-flat-button class="mr-2" (click)="onCancel.emit()">No</button>
</ng-template>


<ng-template #error>
    <h2>Error</h2>
    <p>Some error happened during file transfer. No worries, just try again</p>
    <button mat-flat-button class="mr-2" (click)="onAgree.emit()">Got it!</button>
</ng-template>
