// MOBILE

@media (max-width: 768px) {
    .circles {
         display: none !important;
    }

    // HEADER
    .header {
        height: 105px !important;
        justify-content: space-between !important;
        overflow: hidden !important;

        .curved-header {
            display: block !important;
        }
        .main-logo {
            display: none !important;
        }
        .text-icon-button {
            color: var(--color-grey-50) !important;
        }

        .name {
            color: var(--color-grey-50) !important;
        }
        .description {
            width: max-content;
            color: var(--color-grey-100);
        }
    }


    .content {
        position: relative !important;
        overflow: auto;
        margin-bottom: 250px;
        margin-top: 105px;
        padding-top: 15px;

        & > .chat {
            position: fixed !important;
            bottom: 10px !important;
            left: 10px;

            .chat {
                width: calc(100vw - 20px);
            }
        }
    }
}