.users-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 14px;
    column-gap: 14px;
    max-height: 100%;
    max-width: 600px;
    margin: 0 auto;

    &--empty {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__empty-msg {
        color: var(--color-grey-400);
        font-size: 20px;
        text-align: center;
    }
}
