.invite {
    text-align: center;

    &__qr {
        display: inline-block;
        width: 100px;
        height: 100px;
        fill: black;
    }

    &__link {
        font-style: italic;
        color: var(--color-grey-700);
    }
}
