<header class="header">
    <div class="header-content">
        <button
            class="text-icon-button m-1 p-1 rounded"
            (click)="openNewRoomDialog()"
        >
            <svg class="button-icon" height="24" width="24">
                <path
                    d="M12 22q-2.075 0-3.9-.788-1.825-.787-3.175-2.137-1.35-1.35-2.137-3.175Q2 14.075 2 12q0-3.3 1.925-5.938Q5.85 3.425 9 2.45V4.6q-2.275.925-3.637 2.937Q4 9.55 4 12q0 3.35 2.325 5.675Q8.65 20 12 20q3.35 0 5.675-2.325Q20 15.35 20 12q0-2.45-1.362-4.463Q17.275 5.525 15 4.6V2.45q3.15.975 5.075 3.612Q22 8.7 22 12q0 2.075-.788 3.9-.787 1.825-2.137 3.175-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-6-5-5 1.4-1.4 2.6 2.575V2h2v10.175L15.6 9.6 17 11Z"
                />
            </svg>
            <span>Join room</span>
        </button>

        <button
            class="text-icon-button m-1 p-1 rounded"
            (click)="openHelpDialog()"
        >
            <mat-icon>help_outline</mat-icon>
            <span>Help</span>
        </button>

        <div class="main-logo d-none d-md-block">
            <img src="/assets/zitri_word_gradient.svg" alt="Zitri.Files" />
        </div>

        <!-- current user   -->
        <div class="current-user mt-2">
            <div class="description mt-2 me-md-3">
                You are the
                <br class="d-none d-md-block" />
                <b class="name">{{ cu.user.name }}</b>
            </div>
            <div>
                <app-avatar [avatarUrl]="cu.user.avatarUrl"></app-avatar>
            </div>
        </div>
    </div>
</header>
