<header class="header">
    <div class="curved-header"></div>
<!--    <div class="header-content">-->
        <div class="main-logo">
            <img src="/assets/zitri_word_inkscape.svg" alt="Zitri.Files">
        </div>

        <button title="New room" class="text-icon-button m-1" (click)="openNewRoomDialog()">
            <mat-icon>add_circle_outline</mat-icon>
            <span>New room</span>
        </button>

        <!-- current user   -->
        <div class="current-user mt-2">
            <app-avatar [avatarUrl]="cu.user.avatarUrl"></app-avatar>
            <div class="description mt-2">You are the <b class="name">{{cu.user.name}}</b></div>
        </div>

        <button title="Help" class="text-icon-button m-1" (click)="openHelpDialog()">
            <mat-icon>help_outline</mat-icon>
            <span>Help</span>
        </button>
<!--    </div>-->
</header>


<ng-template #helpDialog>
    <div class="text-center">
        <img src="/assets/zitri_word_inkscape.svg" alt="Zitri.Files">
    </div>
    <h3><b>What is it?</b></h3>

    <p>Zitri is a free app that allows you to easily and securely share your files between devices.</p>

    <h3><b>How to use it?</b></h3>

    <p>Scan the QR-code or copy and share the link to the room. Then select device to send files. The file transfer will start once the recipient accepts the file.</p>
    <p>If devices are in the same local network, they will appear together right after the app starts.*</p>

    <div class="text-center mb-3">
        <button mat-flat-button color="accent" (click)="closeDialog()">Got it!</button>
    </div>

    <div class="text-center">
        <small><i>*Devices need to have the same <a href="https://www.google.com/search?q=what+is+my+ip" target="_blank" rel="noopener noreferrer">public IP</a> to see each other.</i></small>
    </div>
</ng-template>


<ng-template #newRoomDialog>
    <h2 class="text-center">New room</h2>

    <p>Copy link to the room and share with others. You can type your own room name!</p>

    <div class="d-flex align-items-center justify-content-center mb-3">
        <p class="text-center">
            <span>{{baseDomain}}</span>
            <input type="text" class="room-id-input" [formControl]="roomIdControl">
        </p>
        <button class="text-icon-button" (click)="copyRoomLink()">
            <mat-icon>content_copy</mat-icon>
            <span>Copy link</span>
        </button>
    </div>


    <div class="text-right">
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="accent" (click)="createNewRoom()">Create room!</button>
    </div>
</ng-template>