<header class="header">
    <div class="header-content">
        <button
            title="New room"
            class="text-icon-button m-1"
            (click)="openNewRoomDialog()"
        >
            <svg class="button-icon" height="24" width="24">
                <path
                    d="M12 22q-2.075 0-3.9-.788-1.825-.787-3.175-2.137-1.35-1.35-2.137-3.175Q2 14.075 2 12q0-3.3 1.925-5.938Q5.85 3.425 9 2.45V4.6q-2.275.925-3.637 2.937Q4 9.55 4 12q0 3.35 2.325 5.675Q8.65 20 12 20q3.35 0 5.675-2.325Q20 15.35 20 12q0-2.45-1.362-4.463Q17.275 5.525 15 4.6V2.45q3.15.975 5.075 3.612Q22 8.7 22 12q0 2.075-.788 3.9-.787 1.825-2.137 3.175-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-6-5-5 1.4-1.4 2.6 2.575V2h2v10.175L15.6 9.6 17 11Z"
                />
            </svg>
            <span>Join room</span>
        </button>

        <button
            title="Help"
            class="text-icon-button m-1"
            (click)="openHelpDialog()"
        >
            <mat-icon>help_outline</mat-icon>
            <span>Help</span>
        </button>

        <div class="main-logo d-none d-md-block">
            <img src="/assets/zitri_word_gradient.svg" alt="Zitri.Files" />
        </div>

        <!-- current user   -->
        <div class="current-user mt-2">
            <div class="description mt-2 me-md-3">
                You are the
                <br class="d-none d-md-block" />
                <b class="name">{{ cu.user.name }}</b>
            </div>
            <div>
                <app-avatar [avatarUrl]="cu.user.avatarUrl"></app-avatar>
            </div>
        </div>
    </div>
</header>

<ng-template #helpDialog>
    <div class="text-center">
        <img src="/assets/zitri_word_gradient.svg" alt="Zitri.Files" />
    </div>
    <h3><b>What is it?</b></h3>

    <p>
        Zitri is a free app that allows you to easily and securely share your
        files between devices.
    </p>

    <h3><b>How to use it?</b></h3>

    <p>
        Scan the QR-code or copy and share the link to the room. Then select
        device to send files. The file transfer will start once the recipient
        accepts the file.
    </p>
    <p>
        If devices are in the same local network, they will appear together
        right after the app starts.*
    </p>

    <div class="text-center mb-3">
        <button mat-flat-button color="accent" (click)="closeDialog()">
            Got it!
        </button>
    </div>

    <div class="text-center">
        <small
            ><i
                >*Devices need to have the same
                <a
                    href="https://www.google.com/search?q=what+is+my+ip"
                    target="_blank"
                    rel="noopener noreferrer"
                    >public IP</a
                >
                to see each other.</i
            ></small
        >
    </div>
</ng-template>

<ng-template #newRoomDialog>
    <h2 class="text-center">New room</h2>

    <p>
        Copy link to the room and share with others. You can type your own room
        name!
    </p>

    <div class="d-flex align-items-center justify-content-center mb-3">
        <p class="text-center">
            <span>{{ baseDomain }}</span>
            <input
                type="text"
                class="room-id-input"
                [formControl]="roomIdControl"
            />
        </p>
        <button class="text-icon-button" (click)="copyRoomLink()">
            <mat-icon>content_copy</mat-icon>
            <span>Copy link</span>
        </button>
    </div>

    <div class="text-right">
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="accent" (click)="createNewRoom()">
            Create room!
        </button>
    </div>
</ng-template>
