<div class="d-flex flex-column h-100vh w-100vw">
    <app-header></app-header>

    <main class="content flex-grow-1 overflow-hidden">
        <app-users-list
            *ngIf="usersService.roomUsers.length"
            [users]="usersService.roomUsers"
        ></app-users-list>

        <app-main-screen-empty
            *ngIf="!usersService.roomUsers.length"
            [roomUrl]="this.roomsService.roomUrl"
        ></app-main-screen-empty>

        <div *ngIf="chatService.selectedChatId" class="chat">
            <app-chat></app-chat>
        </div>

        <button
            class="invite-to-room-button"
            mat-fab
            (click)="openInviteToRoom()"
        >
            +
        </button>
    </main>

    <app-update-available-banner
        *ngIf="swUpdatesService.updateAvailable"
    ></app-update-available-banner>

    <app-circles></app-circles>
</div>
