<div class="chat">
    <p class="text-center">Chat with {{title}}</p>
    <button class="close" mat-icon-button (click)="closeChat()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="messages-wrapper" #messagesWrapper>
        <ng-container *ngIf="chatService.chats[userId]">
            <ng-container *ngFor="let message of chatService.chats[userId].messages">
                <div class="message" [class.my-message]="message.sender === cu.user.id">
                    <span [innerHTML]="message.text |linkify"></span>
                </div>
            </ng-container>
        </ng-container>

        <div *ngIf="!chatService.chats[userId]?.messages?.length" class="no-messages-banner">No messages yet! Don't be shy to text</div>
    </div>

    <form class="input-wrapper" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Type a message..." formControlName="message">
        <button mat-icon-button class="send-button" [disabled]="messageForm.invalid">
            <mat-icon class="mat-icon-filled">send</mat-icon>
        </button>
    </form>
</div>
