.user {
    display: block;
    background-color: #333;
    color: var(--text-color);
    border: none;
    width: 100%;

    .name {
        text-transform: capitalize;
        font-weight: 700;
        white-space: nowrap;
        line-height: 1;
    }

    &:focus-visible {
        outline: 2px solid var(--color-accent-500);
    }
}

:host:has(.user-active) {
    grid-column: 1 / -1;
    order: -1; // TODO: sort programmatically as it is not good for accessibility
}

.user-active {
    background: var(--diaginal-gradient);

    .user-info {
        .avatar {
            display: inline-block;
            width: 2rem;
            height: 2rem;
        }

        .name {
            line-height: 2rem;
        }
    }
}

.user-element,
.mobile-user-element {
    display: flex;
    align-items: center;
    user-select: none;

    .name div {
        text-transform: capitalize;
        font-weight: 700;
        color: var(--text-color);
        white-space: nowrap;
        line-height: 1;
    }

    .success-mark {
        background-color: rgba(104, 207, 104, 0.85);
        color: #fff;
        border-radius: 50%;
        height: 66px;
        width: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: fadeIn 0.5s;

        .material-icons {
            font-weight: bold;
            font-size: 2rem;
        }
    }
}

.user-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 255px;
    transform: translateX(-50%);
    width: 100px;
    user-select: none;

    ::ng-deep .avatar img {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.mobile-user-element {
    position: relative;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid var(--color-grey-300);
    overflow: hidden;

    .name {
        margin-left: 8px;
        flex-grow: 1;

        div {
            font-size: 1.2rem;
        }
    }
}
