.user-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 255px;
    transform: translateX(-50%);
    width: 100px;
    user-select: none;

    .name {
        text-transform: capitalize;
        font-weight: 700;
        color: var(--text-color);
        white-space: nowrap;
    }

    ::ng-deep .avatar img {
        cursor: pointer;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.file-transfer-offer {
    width: 250px;
    position: absolute;
    bottom: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0 0 8px;
    padding: 15px;
    background-color: var(--bg-color);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    z-index: 5;

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 -6px -6px;
        content: "";
        width: 12px;
        height: 12px;
        background: inherit;
        transform: rotate(45deg);
        border: 1px solid transparent;
        border-right-color: rgba(black, .2);
        border-bottom-color: rgba(black, .2);
    }
}