.user-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 255px;
    transform: translateX(-50%);
    width: 100px;
    user-select: none;

    .name {
        text-transform: capitalize;
        font-weight: 700;
        color: var(--text-color);
        white-space: nowrap;
    }

    ::ng-deep .avatar {
        cursor: pointer;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}