<div
    [ngClass]="{
        'user shadow rounded pt-4 pb-4': true,
        'user--active': isActive
    }"
    [attr.role]="isActive ? null : 'button'"
    (click)="openMenu()"
>
    <div class="user__background"></div>

    <button class="user__menu-trigger" [matMenuTriggerFor]="menu"></button>

    <div class="user__info">
        <div class="user__avatar">
            <app-avatar [avatarUrl]="user.avatarUrl"></app-avatar>
        </div>
        <span class="user__name">{{ user.name }}</span>
        <small class="user__device">{{ user.device }}</small>
    </div>

    <app-file-transfer-state
        *ngIf="transferState"
        [status]="transferState.status"
        (onConfirm)="confirm.emit(user.id)"
        (onCancel)="cancel.emit(user.id)"
    >
    </app-file-transfer-state>
</div>

<!-- MENU -->
<mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item (click)="openChat.emit(user.id)">
        <mat-icon>comment</mat-icon>Have a chat
    </button>
    <label mat-menu-item>
        <mat-icon>description</mat-icon>
        Send file
        <input
            [formControl]="filesInput"
            class="d-none"
            type="file"
            multiple
            (change)="handleFilesSelect($event)"
        />
    </label>
</mat-menu>
