<div class="text-center">
    <img src="/assets/zitri_word_gradient.svg" alt="Zitri.Files" />
</div>
<h3><b>What is it?</b></h3>

<p>
    Zitri is a free app that allows you to easily and securely share your files
    between devices.
</p>

<h3><b>How to use it?</b></h3>

<p>
    Scan the QR-code or copy and share the link to the room. Then select device
    to send files. The file transfer will start once the recipient accepts the
    file.
</p>
<p>
    If devices are in the same local network, they will appear together right
    after the app starts.*
</p>

<div class="text-center mb-3">
    <button mat-flat-button color="accent" (click)="closePopup()">
        Got it!
    </button>
</div>

<div class="text-center">
    <small
        ><i
            >*Devices need to have the same
            <a
                href="https://www.google.com/search?q=what+is+my+ip"
                target="_blank"
                rel="noopener noreferrer"
                >public IP</a
            >
            to see each other.</i
        ></small
    >
</div>
